.on-top {
  animation: moveOnTop 0.8s step-end;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.disappear {
  opacity: 0;
}

.moveUp {
  // for portrait orientation ===>
  transform: translateY(-9.6vw) rotateX(-180deg);

  // for landscape orentation ===>
  // transform: translateY(-9.2vh) rotateX(-180deg);
}

.moveDown {
  // for portrait orientation ===>
  transform: translateY(9.6vw) rotateX(-180deg);

  // for landscape orentation ===>
  // transform: translateY(9.2vh) rotateX(-180deg);
}
