.on-top {
  animation: moveOnTop 0.8s step-end;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.disappear {
  opacity: 0;
}

.move-up {
  transform: translateY(-9.6vw) rotateX(-180deg);
}

.move-down {
  transform: translateY(9.6vw) rotateX(-180deg);
}
