.hidden {
  display: none;
}

.disappear {
  animation: vanish 1.2s ease 1.5s;
  animation-fill-mode: forwards;
}

.appear {
  animation: showUp 1s ease;
  animation-fill-mode: forwards;
}

.moveDown {
  transition: transform 1.5s ease, z-index 2s step-end;
  transform: translateY(30%) rotateX(-180deg);
  z-index: -1;
}

.moveUp {
  transition: transform 1.5s ease, z-index 2s step-end;
  transform: translateY(-30%) rotateX(-180deg);
  z-index: -1;
}

.toDefaultPosition {
  transition: transform 2s ease;
  transform: translateY(0%) rotateX(0deg);
}
