%card-shared {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

%bar-shared {
  position: absolute;
  // for portrait orientation ===>
  $var-width: 100vw;
  width: $var-width;
  height: calc($var-width * 281 / 925);

  // for landscape orentation ===>
  // $var-test: 96vh;
  // width: $var-test;
  // height: calc($var-test * 281 / 925);

  transition: transform 1.5s ease;
}

%flex-vertical-shared {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
