@font-face {
  font-family: 'Greta Deco line';
  src: url('../fonts/GretaDecoline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RitzyRemixNF';
  src: url('../fonts/RitzyRemixNF.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Schaeffer';
  src: url('../fonts/Schaeffer.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
