@font-face {
  font-family: 'Schaeffer';
  src: local('Schaeffer'), url('../fonts/Schaeffer.ttf') format('truetype');
}
@font-face {
  font-family: 'RitzyRemixNF';
  src: local('RitzyRemixNF'),
    url('../fonts/RitzyRemixNF.ttf') format('truetype');
}
@font-face {
  font-family: 'Greta Deco line';
  src: local('Greta Deco line'),
    url('../fonts/Greta_Deco_line.ttf') format('truetype');
}
