@mixin user-select($property) {
  user-select: $property;
  -webkit-user-select: $property;
  -moz-user-select: $property;
  -ms-user-select: $property;
}

@mixin card-bg($url, $bg-size) {
  background: $url;
  background-size: $bg-size;
  background-repeat: no-repeat;
}

@mixin header-text-style($main-font, $font-size, $bg) {
  font-family: $main-font, var(--fonts-default-stack);
  font-size: $font-size;
  text-align: center;
  background: $bg;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin game-field-layout($defining-size, $columns-number) {
  grid-template-columns: repeat($columns-number, 1fr);

  @if $columns-number == 4 {
    $dynamic-gap: (0.0065 * $defining-size);
    gap: $dynamic-gap;
    padding: $dynamic-gap;
    width: (0.5 * $defining-size + 5 * $dynamic-gap);
    height: ($defining-size + 6 * $dynamic-gap);
  }

  @if $columns-number == 5 {
    $dynamic-gap: (0.0135 * $defining-size);
    gap: $dynamic-gap;
    padding: $dynamic-gap;
    width: (0.78125 * $defining-size + 6 * $dynamic-gap);
    height: ($defining-size + 5 * $dynamic-gap);
  }

  @if $columns-number == 10 {
    $dynamic-gap: (0.0065 * $defining-size);
    gap: $dynamic-gap;
    padding: $dynamic-gap;
    width: ($defining-size + 11 * $dynamic-gap);
    height: (0.32 * $defining-size + 3 * $dynamic-gap);
  }
}
